.subscribe {
    background-color: #AF0040;
    padding: 55px 0px;
    position: relative;
    font-family: 'Bubblegum Sans', cursive;
}

.subscribe:before {
    content: "";
    position: absolute;
    background-image: url(../images/section_notch_top.png);
    background-repeat: repeat-x;
    top: 0;
    width: 100%;
    height: 7px;
    z-index: 1;
}

.subscribe h3 {
    color: #fff;
    float: left;
    font-size: 30px;
}

.subscribe form {
    text-align: right;
}

.subscribe form input {
    outline: none;
}

.subscribe form input:first-child {
    border: 2px solid rgba(255, 255, 255, .5);
    padding: 16px 20px;
    background-color: #AF0040;
    color: #fff;
    font-style: italic;
    border-radius: 2px;
    width: 68%;
    float: left;
}

.subscribe form input:last-child {
    background-color: #fff;
    color: #AF0040;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    padding: 20px 41px;
    margin-left: 5px;
}

.subscribe ::-webkit-input-placeholder {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.subscribe :-moz-placeholder {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.subscribe ::-moz-placeholder {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    opacity: 1;
    /* Since FF19 lowers the opacity of the placeholder by default */
}

.subscribe :-ms-input-placeholder {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.subscribe-two:before {
    display: none;
}